.arrow-icon {
    margin-top: 15px;
    position: absolute;
    left: 20px;
}

.marginTop20{
    margin-top: 60px!important;
}

.wdot-icon{
    margin-left: 10px;
}

.dot-icon{
    margin-left: 5px;
}

.alreadyy-account{
    margin-top: 65% !important;
}