#standard-weight-helper-text{
    margin-top: 3px;
    margin-left: 0px;
    font-family: Montserrat;
}

.dot-icon {
    margin-left: 10px!important;
}

.wdot-icon {
    margin-left: 5px;
}

.already-account {
    margin-top: 31% !important;
}

.align-center{
    text-align: center;
    margin-top: 10px!important;
}





